

ZOHO_EMAIL=support@lodgely.ng
ZOHO_PASSWORD=Rd5gp@mz

# Email address that should receive the demo requests (defaults to ZOHO_EMAIL if left blank)
DEMO_RECEIVER_EMAIL=

# Manager Web Application URL
VITE_MANAGER_WEB_URL=http://localhost:3000

# Google ReCAPTCHA v2
VITE_RECAPTCHA_SITE_KEY=
